html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(233, 237, 242);
}

#video-container {
  margin: 50px;
  margin-bottom: 20px;
  width: 640px;
  height: 450px;
  border-radius: 20px;
  background-color: rgb(18, 26, 43);
}

#feed {
  border-radius: 20px;
}

button {
  border-style: none;
  background-color: rgb(58, 71, 255);
  color: white;
  height: 48px;
  padding: 12px;
  padding-inline: 24px;
  border-radius: 16px;
  font-weight: 700;
  font-size: 16px;
  transition:
    box-shadow 0.2s,
    padding 0.2s;
}

button:hover {
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.25);
  padding: 14px;
  padding-inline: 24px;
}

#end{
  margin-left: 215px;
}

#start{
  margin-left: 20px;
}

#camera {
  padding: 12px;
  padding-inline: 24px;
  font-weight: 500;
  font-size: 14px;
  color: rgb(102, 112, 133);
  height: 40px;
  border: 0;
  border-radius: 14px;
}

label {
  color: rgb(102, 112, 133);
  font-weight: 500;
  font-size: 14px;
  margin-right: 8px;
  margin-left: 60px;
}
